    <div class="jumbotron">
      <div class="container">
        <h1>Pick a Stock by Name</h1>
        {{auto-complete data=model}}
      </div>
    </div>
     <div class='container-fluid'>
    	<div class='row'>
    		<div class="col-md-4 col-md-offset-1 table-container">
			    {{#if model.resultSet.stocks.length}}
			    	<table>
				    	<tr><th>Symbol</th><th>Name</th></tr>
				    	<tbody>
						    {{#each  model.resultSet.stocks as |stock|}}
						    	{{#link-to 'chart' stock.id tagName="tr"}}
						    		<td>{{stock.symbol}}</td><td>{{stock.name}}</td>
						    	{{/link-to}}
						    {{/each}}
				    	</tbody>	
					</table>
			    {{else}}
			    	<table class='table'>
			    		<tr><td>There are no matching stocks</td></tr>
			    	</table>
			    {{/if}}
		    </div>
		<div class="col-md-4 col-md-offset-1 table-responsive" id='chartContainer'>

			{{outlet}}
		</div>
	</div>

    	
    </div>
