    <div class="jumbotron">
      <div class="container">
        <h1>Pick a Stock by Name</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        {{auto-complete data=model}}
      </div>
    </div>
     <div class='container-fluid'>
    	<div class='row'>
    		<div class="col-md-4 col-md-offset-1 table-responsive">
			    {{#if model.matches.length}}
			    	<table class='table-striped'>
				    	<tr><th>Name</th><th>Symbol</th></tr>
				    	<tbody>
						    {{#each model.matches as |match|}}
						    	<tr {{action 'chart' match.symbol}}><td>{{match.name}}</td><td>{{match.symbol}}</td></tr>
						    {{/each}}
				    	</tbody>	
					</table>
			    {{else}}
			    	<table class='table'>
			    		<tr><td>There are no matching stocks</td></tr>
			    	</table>
			    {{/if}}
		    </div>
		<div class="col-md-4 col-md-offset-2 table-responsive" id='chartContainer'>

			{{outlet}}
		</div>
	</div>

    	
    </div>
